fastapi
uvicorn
pydantic
python-dateutil
openai>=1.0.0,<2.0.0
python-dotenv
pytz
requests
protobuf>=3.20.3,<5.0.0
traceback-with-variables
pydub
ffmpeg-python
elevenlabs
pyaudio
twilio
websockets
aiohttp>=3.8.0
firebase-admin
google-auth
google-auth-oauthlib
