fastapi
uvicorn
python-dotenv
firebase-admin
twilio
requests
python-multipart
pydantic
gunicorn
google-auth
google-auth-oauthlib
python-dateutil
openai
pytz
protobuf
traceback-with-variables
pydub
ffmpeg-python
elevenlabs
websockets
aiohttp
